.site-footer{
    margin-top: 20px;
    @include tablet {
        margin-top: 30px;
    }
    .bar{
        width: 100%;
        height: 8px;
        background-color: $color-yellow;
        @include desktop{
            height: 14px;
        }
    }

    .subscribe{
        .subscribe-form{
            padding: 20px 0;
            @include clearfix;
            .copy{
                padding-bottom: 15px;
                @include desktop {
                    padding-bottom: 0;
                    float: left;
                    width: 460px;
                }
                h4{
                    font-size: 20px;
                    color: #549723;
                    margin: 0;
                    @include tablet{
                        font-size: 22px;
                    }
                }
            }

            .form{
                text-align: center;
                @include tablet{
                    text-align: left;
                }
                @include desktop {
                    float: right;
                    width: 520px;
                }
            }

            .wrap-input{
                position: relative;
                text-align: left;
                i{
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    color: #9b9b9b;
                }

                @include tablet{
                    display: inline-block;
                    i {
                        right: 17px;
                        top: 17px;
                    }
                }

                input{
                    font-size: 14px;
                    width: 100%;
                    height: 40px;
                    line-height: 1;
                    border: 1px solid #d4d4d4;
                    background: white;
                    padding: 0 30px 0 10px;
                    font-family: $font-regular;
                    outline: none;
                    @include tablet{
                        font-size: 15px;
                        height: 46px;
                        width: 330px;
                        padding: 0 34px 0 17px;
                    }
                }
            }
            .button{
                margin-top: 15px;
                @include tablet{
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
        }
    }

    .personal-network{
        background-color: #059816;
        font-family: $font-open;
        color: #fff;
        font-size: 15px;
        a{
            color: white;
        }

        .personal-column{
            float: left;
            width: 50%;
            padding: 35px 30px;
        }

        h3{
            font-size: 23px;
            font-weight: 600;
            margin: 0 0 15px;
        }
        .nav{
            list-style: disc;
            padding-left: 20px;
            @include clearfix;
            .menu-item{
                float: left;
                width: 50%;
                margin: 5px 0;
                &:empty{
                    list-style: none;
                }
                &:nth-child(2n+1){
                    clear: left;
                }
            }
        }
    }

    .footer--info{
        background-color: #e5f3dc;
        color: #31363c;


    }

    .information{
        font-size: 15px;
        .contact-info{
            float: left;
            width: 33.33%;
            padding: 30px;
        }
        h3{
            font-size: 23px;
            margin: 0 0 20px;
            color: #059816;
        }
        p{
            margin: 0 0 10px;
        }
        .phone a{
            color: #263238;
        }
        .networks {
            margin-bottom: 20px;
            a {
                font-size: 24px;
                display: inline-block;
                margin-left: 30px;
                color: #059816;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .copyright{
        font-family: $font-open;
        font-size: 13px;
        background-color: #263238;
        color: white;
        .back-to-top{
            float: right;
            padding: 25px 20px;
            color: white;
            i{
                font-size: 1.5em;
                margin-left: 10px;
                margin-top: -2px;
                float: right;
            }
        }
        p{
            float: left;
            padding: 25px 30px;
        }
    }
}



.yellow-template{
    .bar{
        background-color: $color-yellow;
    }
}

.blue-template{
    .bar{
        background-color: $color-blue;
    }
}
