
.site-wrapper{
    padding-top: 119px;
    @include transition(padding 0.2s linear);
    @include desktop{
        padding-top: 139px;
    }
}

.site-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8999;
    background-color: white;
    width: 100%;
    padding-right: 0;
    @include transition(padding 0.2s linear);

    .site-header--inner{
        @include transition(margin 0.2s linear);
        .container{
            padding-left: 0;
            padding-right: 0;
            @include tablet{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .top-header{
        display: none;
        overflow: hidden;
        margin-top: -32px;
        height: 32px;
        @include transition(margin 0.2s linear);
        font-size: 14px;
        text-align: right;
        background-color: #FFCE00;
        font-weight: 500;
        @include desktop{
            display: block;
        }

        a{
            color: #574000;
            text-decoration: none;
        }
        ul{
            padding: 8px 0;
        }
        li{
            display: inline-block;
            padding: 0 13px 0 10px;
            border-right: 1px solid #574000;
            &:last-child{
                border-right: none;
                padding-right: 25px;
            }
        }
    }

    .main-header{
        padding-top: 10px;
        border-bottom: 5px solid $color-green;
        @include transition(padding 0.2s linear, border 0.2s linear);
        @include tablet{
            padding-top: 15px;
            border-bottom-width: 8px;
        }
    }

    .logo{
        float: left;
        margin: 0 15px 10px;
        width: 60px;
        @include tablet {
            margin: 0 0 15px;
            width: 134px;
        }
        @include desktop{
            width: 166px;
        }
    }

    .site-menu-wrapper{
        float: right;
        @include transition(padding 0.2s linear);
        @include tablet{
            width: auto;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        @include desktop{
            padding-top: 30px;
        }
    }

    .pay-to-study{
        position: absolute;
        top: 15px;
        right: 70px;
        width: 100px;
        padding-right: 20px;
        border-right: 1px solid;
        @include tablet {
            position: static;
            width: 130px;
            padding-right: 0;
            border-right: none;

            float: left;
            margin-right: 10px;
        }
        @include desktop{
            width: auto;
            margin-top: -5px;
        }
    }

    .site-menu{
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        width: 100%;
        background-color: white;
        @include transition(height 0.2s linear, opacity 0.2s linear);
        @include tablet{
            position: static;
            float: left;
            width: auto;

            height: auto !important;
            overflow: visible !important;
            opacity: 1 !important;
        }

        .main-menu-wrap{
        }

        .main-menu{
            @include clearfix;
            @include tablet{
                padding-right: 10px;
                border-right: 2px solid #dae0e4;
            }

            > .menu-item{
                float: left;
                font-weight: 500;
                position: relative;
                padding: 0 10px;
                > a{
                    position: relative;
                    display: inline-block;
                    color: black;
                    padding: 10px 5px;
                    @include tablet {
                        padding: 0 10px;
                    }

                    &:hover{
                        text-decoration: none;
                    }
                    span{
                        display: block;
                    }
                }

                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                .sub-menu{
                    position: absolute;
                    left: 0;
                    top: 100%;

                    font-size: 15px;
                    display: none;
                    background-color: white;
                    @include box-shadow(0 6px 13px -5px rgba(0, 0, 0, 0.5));
                    z-index: 1000;
                    width: 250px;
                    @include tablet{
                        padding-top: 25px;
                    }

                    li{
                        border-top: 1px solid #f7f7f7;
                        &:first-child{
                            border-top: none;
                        }
                        &:hover, &:hover + li{
                            border-top-color: transparent;
                        }
                    }
                    a{
                        display: block;
                        padding: 12px 16px;
                        color: black;
                        @include desktop {
                            padding: 17px 20px;
                            &:hover {
                                background-color: #e7f5f5;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .sub-menu--teal a{
                    color: $color-teal;
                }
                .sub-menu--green a{
                    color: $color-green;
                }
                .sub-menu--yellow a{
                    color: $color-yellow;
                }
            }
            .menu-item-has-children{
                > a{
                    padding-right: 20px;
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -3px;

                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;

                        border-top: 6px solid #263238;
                    }
                }
            }

            .menu--teal > a{
                &:hover, span:last-child{
                    color: $color-teal;
                }
            }
            .menu--green > a{
                &:hover, span:last-child{
                    color: $color-green;
                }
            }
            .menu--yellow > a{
                &:hover, span:last-child{
                    color: $color-yellow;
                }
            }
        }

    }

    .submenu{
        display: none;
        @include box-shadow(0 10px 20px -10px rgba(0, 0, 0, 0.2));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 8000;
        background: white;
    }

    .slogan{
        display: none;
        @include desktop{
            display: block;
        }
        float: left;
        padding: 5px 15px 0;
        border-right: 2px solid #dae0e4;
        .connect{
            font-family: $font-light;
            text-align: right;
            font-size: 14px;
            color: #5f7080;
            .sn{
                line-height: 32px;
                a{
                    font-size: 20px;
                    display: inline-block;
                    margin: 0 10px;
                    color: #33485d;
                }
            }
        }
    }

    .right-rail-menu{
        float: left;
        padding: 11px 25px;
        .site-rail-menu--toggle{
            display: block;
            width: 26px;
            span{
                display: block;
                height: 3px;
                @include border-radius(1px);
                background-color: #263238;
                margin-top: 4px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }

}

.has--top-header{
    .site-wrapper{
        @include desktop{
            padding-top: 171px;
        }
    }
    .top-header{
        margin-top: 0;
    }
}


.site-scrolling{
    .top-header{
        margin-top: -32px;
    }
    .main-header{
        border-bottom-width: 5px;
    }
    .logo{
        @include tablet {
            width: 80px;
        }
    }
    .site-menu-wrapper{
        @include tablet{
            padding-top: 5px;
        }
    }
    .site-menu {
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .site-wrapper{
        @include tablet{
            padding-top: 85px;
        }
    }
}
