
.site-wrapper{
    padding-top: 139px;
}

.site-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8999;
    background-color: white;
    width: 100%;
    @include transition(padding 0.3s linear);

    padding-top: 10px;
    border-bottom: 5px solid #06b11a;
    @include tablet{
        padding-top: 15px;
        border-bottom-width: 8px;
    }

    .site-header--inner{
        @include transition(margin 0.3s linear);
    }

    .logo{
        float: left;
        margin: 0 0 10px;
        width: 140px;
        @include tablet {
            margin: 0 0 15px;
            width: 166px;
        }
    }


    .site-menu{
        float: left;
        .main-menu-wrap{
        }

        .main-menu{
            @include clearfix;
            padding-right: 10px;
            border-right: 2px solid #dae0e4;

            > .menu-item{
                display: none;
                font-weight: 500;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                padding: 0 10px;
                position: relative;
                &:first-child{
                    border-top: none;
                }
                @include desktop{
                    float: left;
                    display: block;
                    border-top: none;
                }
                > a{
                    position: relative;
                    display: block;
                    color: black;
                    padding: 0 10px;

                    &:hover{
                        text-decoration: none;
                    }
                    span{
                        display: block;
                    }
                }

                &:hover {
                    .sub-menu {
                        @include opacity(1);
                        height: auto;
                    }
                }
                .sub-menu{
                    padding-top: 25px;
                    font-size: 15px;
                    @include transition(all 0.3s);
                    height: 0;
                    overflow: hidden;

                    @include desktop{
                        z-index: 1000;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        @include opacity(0);
                        background-color: white;
                        width: 250px;
                        @include box-shadow(0 6px 13px -5px rgba(0, 0, 0, 0.5));
                    }

                    li{
                        border-top: 1px solid #f7f7f7;
                        &:first-child{
                            border-top: none;
                        }
                        &:hover, &:hover + li{
                            border-top-color: transparent;
                        }
                    }
                    a{
                        display: block;
                        padding: 12px 16px;
                        color: black;
                        @include desktop {
                            padding: 17px 20px;
                            &:hover {
                                background-color: #e7f5f5;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .sub-menu--blue-chill a{
                    color: #119b9b;
                }
                .sub-menu--green a{
                    color: #059816;
                }
                .sub-menu--orange a{
                    color: #fdba31;
                }
            }
            .menu-item-has-children{
                > a{
                    padding-right: 20px;
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -3px;

                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;

                        border-top: 6px solid #263238;
                    }
                }
            }

            .menu--blue-chill > a span:last-child{
                color: #119b9b;
            }
            .menu--green > a span:last-child{
                color: #059816;
            }
            .menu--orange > a span:last-child{
                color: #fdba31;
            }
        }

    }

    .site-menu-wrapper{
        float: right;
        position: relative;
        padding-top: 30px;
    }

    .submenu{
        display: none;
        @include box-shadow(0 10px 20px -10px rgba(0, 0, 0, 0.2));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 8000;
        background: white;
    }

    .slogan{
        float: left;
        padding: 5px 15px 0;
        border-right: 2px solid #dae0e4;
        .connect{
            font-family: $font-light;
            text-align: right;
            font-size: 14px;
            color: #5f7080;
            .sn{
                line-height: 32px;
                a{
                    font-size: 20px;
                    display: inline-block;
                    margin: 0 10px;
                    color: #33485d;
                }
            }
        }
    }

    .right-rail-menu{
        float: left;
        padding: 11px 25px 0;
        .site-rail-menu--toggle{
            display: block;
            width: 26px;
            span{
                display: block;
                height: 3px;
                @include border-radius(1px);
                background-color: #263238;
                margin-top: 4px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }

}

/*
.lang-vi{
    .site-header .site-menu .main-menu {
        > .menu-item {
            padding: 6px 0;
            @include desktop {
                padding: 12px 5px;
            }
        }
        .blue-label{
            left: 130px;
        }
    }
}
*/